
<div class="container login-box">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading" >
					<strong> Sign Up here</strong>
				</div>
				<div class="panel-body">
					<form role="form">
						<fieldset>
							<div class="row">
								<div class="col-sm-12 col-md-10  col-md-offset-1 " >
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-envelope"></i>
											</span> <input class="form-control required" placeholder="Email"
												name="enteredEmail" type="email"
												data-ng-model="enteredEmail" required="required"
												autofocus>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-user"></i>
											</span> <input class="form-control" placeholder="FirstName"
												name="enteredFirstName" type="text"
												data-ng-model="enteredFirstName" required="required">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-bishop"></i>
											</span> <input class="form-control" placeholder="LastName"
												name="enteredLastName" type="text"
												data-ng-model="enteredLastName">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-lock"></i>
											</span> <input class="form-control" placeholder="Password"
												name="enteredPassword" type="password"
												data-ng-model="enteredPassword" required="required">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-thumbs-up"></i>
											</span> <input class="form-control" placeholder="ConfirmPassword"
												name="enteredConfirmPassword" type="password"
												data-ng-model="enteredConfirmPassword" required="required">
										</div>
									</div>
									<div class="form-group" >
										<input type="submit" class="btn btn-lg btn-success btn-block" 
											value="Register ME" data-ng-click="signup()">
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="panel-footer text-center">
					It's Absolutely free !! <a>Create Your Account Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
